<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Received</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {{{ css }}}
    {{{ authentication }}}
</head>

<body>
    <div class="container">
        {{> header logo=(constructUrl '/static/assets/gear.png') alt='gear' text='Ticket Received'}}
        <div class="content">
            <p>
                <b>Hello {{ name }},</b>
            </p>
            <p>
                We received your maitenance ticket, and a Fraxioned team member will address the issue as soon as
                possible. If necessary, we will reach out for further information or clarification from you.
            </p>
            <p>
                Thank you, and have a great day!
            </p>
            <p class="service">
                Fraxioned Owner Services Team
            </p>
        </div>
        {{> footer }}
    </div>
</body>

</html>
