        <div class="content">
            <p>
                <b>Hello [Owner Name],</b>
            </p>
            <p>
                We are excited to welcome you to the Fraxioned family and congratulate you on purchasing a share of a beautiful vacation home.
            </p>
            <p>
                The next step is to log in to your Owners' Portal account. This is where you can book time to stay at your home, find important documents, and much more.
            </p>
            <p>
                <b>Your Account</b>
            </p>
            <p>
                We created your account and uploaded some basic information to your profile. Here is your user name and password to get started:
            </p>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>[Username]</td>
                    <td>[Password]</td>
                </tr>
            </table>
            <p>
                Please be sure to create a new, unique password after logging in.
            </p>
            <p>
                Well, what are you waiting for? Create your first booking today and get ready to make lifelong memories at your new home away from home.
            </p>
            <a href="http://www.google.com" class="button">My Account</a>
            <p>
                <b>Questions?</b>
            </p>
            <p>
                If you need help accessing your account or have any other questions about your new Fraxioned home, please contact owners@fraxioned.com
            </p>
        </div>


