<div class="footer">
    <table class="footer-table">
        <tr class="footer-one">
            <td rowspan="2" class="footer-logo">
                <img src="https://i.ibb.co/MDJ099f/fraxioned-logo.png" alt="Fraxioned Logo">
                {{!-- (constructUrl '/static/assets/fraxioned-logo.png') --}}
            </td>
            <td>
                <img src="https://i.ibb.co/4JTdkpB/email.png" alt="email">
                {{!-- (constructUrl '/static/assets/email.png') --}}
            </td>
            <td style="width: 25%;">
                <a href="mailto:owners@fraxioned.com">
                    owners@fraxioned.com
                </a>
            </td>
        </tr>
        <tr class="footer-two">
            <td>
                <img src="https://i.ibb.co/xXcqgFr/account.png" alt="portal">
                {{!-- (constructUrl '/static/assets/account.png') --}}
            </td>
            <td>
                <a href="http://192.168.1.47:5173/login">
                    Portal Login
                </a>
            </td>
        </tr>
    </table>
</div>
