<div class="footer">
    <table class="footer-table">
        <tr class="footer-one">
            <td rowspan="2" class="footer-logo">
                <img src="https://i.ibb.co/4VjNmZp/fraxioned-logo.png" alt="Fraxioned Logo">
            </td>
            <td>
                <img src="https://i.ibb.co/yXS3ynw/email.png" alt="email">
            </td>
            <td style="width: 25%;">
                <a href="mailto:owners@fraxioned.com">
                    owners@fraxioned.com
                </a>
            </td>
        </tr>
        <tr class="footer-two">
            <td>
                <img src="https://i.ibb.co/RYWRQJX/account.png" alt="portal">
            </td>
            <td>
                <a href="http://192.168.1.47:5173/login">
                    Portal Login
                </a>
            </td>
        </tr>
    </table>
</div>
