<div class="header">
    <table class="header-table">
        <tr>
            <td class="header-logo">
                <img src="{{ logo }}" alt="{{ alt }}">
            </td>
            <td class="header-text">
                <p>{{ text }}</p>
            </td>
        </tr>
    </table>
</div>
